<mat-toolbar color="primary">
    <a mat-button routerLink='/home' routerLinkActive='active'>
        <span class="fa fa-home fa-3x"></span> <h1>Home</h1></a>

    <a mat-button routerLink='/strategy' routerLinkActive='active'>
        <span class="fa fa-cogs fa-3x"></span><h1>Trade Strategy</h1>
     </a>

        
    <a mat-button routerLink='/transactions' routerLinkActive='active'>
        <span class="fa fa-history fa-3x"></span> <h1>Transaction History</h1>
      </a>

    <a mat-button routerLink='/charts' routerLinkActive='active'>
        <span class="fa fa-history fa-3x"></span>
        <h1>Charts</h1>
    </a>

    <a mat-button routerLink='/vega-charts' routerLinkActive='active'>
        <span class="fa fa-history fa-3x"></span>
        <h1>Vega Charts</h1>
    </a>

</mat-toolbar>